<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Blog</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <nav>
        <div class="logo-div">
            <img src="logo.png" alt="DevHacks">
        </div>
        <div class="nav-links-div">
            <a href="/">Home</a>
            <a href="/write.ejs">Write</a>
        </div>
    </nav>
    
</body>
</html>